In [65]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [66]:
# Importing dataframe
path = r'/Users/amirihayes/Desktop/Careery Foundry Files/(1) Data Immersion/Achievement 6/kaggle'

In [67]:
path

'/Users/amirihayes/Desktop/Careery Foundry Files/(1) Data Immersion/Achievement 6/kaggle'

In [70]:
#Importing dataframes
df2015 = pd.read_csv(os.path.join(path, 'input', 'world-happiness-report', '2015.csv'))
df2016 = pd.read_csv(os.path.join(path, 'input', 'world-happiness-report', '2016.csv'))
df2017 = pd.read_csv(os.path.join(path, 'input', 'world-happiness-report', '2017.csv'))
df2018 = pd.read_csv(os.path.join(path, 'input', 'world-happiness-report', '2018.csv'))
df2019 = pd.read_csv(os.path.join(path, 'input', 'world-happiness-report', '2019.csv'))

In [72]:
df2015.shape, df2016.shape, df2017.shape, df2018.shape, df2019.shape

((158, 12), (157, 13), (155, 12), (156, 9), (156, 9))

In [73]:
df2015.columns.to_list()

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual']

In [75]:
#Adding year column
yrs = ['2015', '2016', '2017', '2018', '2019']
dfs = [df2015, df2016, df2017, df2018, df2019]
for i in range(0,5):
    dfs[i]['Year'] = yrs[i]

In [76]:
df2015.columns.to_list()

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual',
 'Year']

In [77]:
df2015.head(2)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015

In [78]:
common_cols = ['Happiness Rank', 'Country', 'Region', 'Happiness Score', 'Economy (GDP per Capita)', 'Family (Social Support)','Health (Life Expectancy)','Freedom', 'Trust (Government Corruption)','Generosity','Year']

## 2015.csv

In [79]:
df2015.columns.to_list()

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual',
 'Year']

In [80]:
df2015 = df2015.rename(columns={'Family':'Family (Social Support)'})

In [81]:
df2015.head(2)

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,2015
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,2015

## 2016.csv

In [82]:
df2016.columns.to_list()

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Lower Confidence Interval',
 'Upper Confidence Interval',
 'Economy (GDP per Capita)',
 'Family',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual',
 'Year']

In [83]:
df2016 = df2016.rename(columns={'Family':'Family (Social Support)'})

In [84]:
df2016.head(2)

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,Year
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939,2016
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463,2016

## 2017.csv

In [85]:
df2017.columns.to_list()

['Country',
 'Happiness.Rank',
 'Happiness.Score',
 'Whisker.high',
 'Whisker.low',
 'Economy..GDP.per.Capita.',
 'Family',
 'Health..Life.Expectancy.',
 'Freedom',
 'Generosity',
 'Trust..Government.Corruption.',
 'Dystopia.Residual',
 'Year']

In [86]:
df2017 = df2017.rename(columns={'Happiness.Rank':'Happiness Rank', 'Happiness.Score':'Happiness Score','Economy..GDP.per.Capita.':'Economy (GDP per Capita)','Family':'Family (Social Support)','Health..Life.Expectancy.':'Health (Life Expectancy)','Trust..Government.Corruption.':'Trust (Government Corruption)'})

In [87]:
df2017 = df2017.merge(df2015[["Country","Region"]], on="Country", how="left")
df2017["Region"] = df2017["Region"].fillna('-')

In [88]:
df2017.head(2)

,Country,Happiness Rank,Happiness Score,Whisker.high,Whisker.low,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Dystopia.Residual,Year,Region
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,2017,Western Europe
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,2017,Western Europe

## 2018.csv

In [89]:
df2018.columns.to_list()

['Overall rank',
 'Country or region',
 'Score',
 'GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption',
 'Year']

In [90]:
df2018.head(2)

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018

In [91]:
df2018 = df2018.rename(columns={'Overall rank':'Happiness Rank', 'Country or region':'Country', 'Score':'Happiness Score', 'GDP per capita':'Economy (GDP per Capita)','Social support':'Family (Social Support)','Healthy life expectancy':'Health (Life Expectancy)','Freedom to make life choices':'Freedom','Perceptions of corruption':'Trust (Government Corruption)'})

In [92]:
df2018.head(2)

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018

In [93]:
#Adding region column to df2018
df2018 = df2018.merge(df2015[["Country","Region"]], on="Country", how="left")
df2018["Region"] = df2018["Region"].fillna('-')

In [94]:
df2018.head(2)

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year,Region
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393,2018,Western Europe
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340,2018,Western Europe

In [95]:
df2018['Region'].value_counts()

Sub-Saharan Africa                 36
Central and Eastern Europe         29
Latin America and Caribbean        20
Western Europe                     20
Middle East and Northern Africa    19
Southeastern Asia                   9
Southern Asia                       7
Eastern Asia                        6
-                                   6
Australia and New Zealand           2
North America                       2
Name: Region, dtype: int64

In [96]:
df2018.columns.to_list()

['Happiness Rank',
 'Country',
 'Happiness Score',
 'Economy (GDP per Capita)',
 'Family (Social Support)',
 'Health (Life Expectancy)',
 'Freedom',
 'Generosity',
 'Trust (Government Corruption)',
 'Year',
 'Region']

## 2019.csv

In [97]:
df2019.columns.to_list()

['Overall rank',
 'Country or region',
 'Score',
 'GDP per capita',
 'Social support',
 'Healthy life expectancy',
 'Freedom to make life choices',
 'Generosity',
 'Perceptions of corruption',
 'Year']

In [98]:
df2019 = df2019.rename(columns={'Overall rank':'Happiness Rank', 'Country or region':'Country', 'Score':'Happiness Score', 'GDP per capita':'Economy (GDP per Capita)','Social support':'Family (Social Support)','Healthy life expectancy':'Health (Life Expectancy)','Freedom to make life choices':'Freedom','Perceptions of corruption':'Trust (Government Corruption)'})

In [99]:
#Adding region column to df2019
df2019 = df2019.merge(df2015[["Country","Region"]], on="Country", how="left")
df2019["Region"] = df2019["Region"].fillna('-')

In [100]:
df2019.head(2)

,Happiness Rank,Country,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption),Year,Region
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,2019,Western Europe
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,2019,Western Europe

## Merge dfs (2015-2019)

In [101]:
df2015.columns.to_list()

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Standard Error',
 'Economy (GDP per Capita)',
 'Family (Social Support)',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual',
 'Year']

In [102]:
df2016.columns.to_list()

['Country',
 'Region',
 'Happiness Rank',
 'Happiness Score',
 'Lower Confidence Interval',
 'Upper Confidence Interval',
 'Economy (GDP per Capita)',
 'Family (Social Support)',
 'Health (Life Expectancy)',
 'Freedom',
 'Trust (Government Corruption)',
 'Generosity',
 'Dystopia Residual',
 'Year']

In [103]:
df2017.columns.to_list()

['Country',
 'Happiness Rank',
 'Happiness Score',
 'Whisker.high',
 'Whisker.low',
 'Economy (GDP per Capita)',
 'Family (Social Support)',
 'Health (Life Expectancy)',
 'Freedom',
 'Generosity',
 'Trust (Government Corruption)',
 'Dystopia.Residual',
 'Year',
 'Region']

In [104]:
df2018.columns.to_list()

['Happiness Rank',
 'Country',
 'Happiness Score',
 'Economy (GDP per Capita)',
 'Family (Social Support)',
 'Health (Life Expectancy)',
 'Freedom',
 'Generosity',
 'Trust (Government Corruption)',
 'Year',
 'Region']

In [105]:
df2019.columns.to_list()

['Happiness Rank',
 'Country',
 'Happiness Score',
 'Economy (GDP per Capita)',
 'Family (Social Support)',
 'Health (Life Expectancy)',
 'Freedom',
 'Generosity',
 'Trust (Government Corruption)',
 'Year',
 'Region']

In [106]:
dfs = [df2015[common_cols], df2016[common_cols], df2017[common_cols], df2018[common_cols], df2019[common_cols]]

In [109]:
dfs_merged = pd.DataFrame(columns=common_cols)

In [110]:
dfs_merged = df_merged.append(dfs)

In [111]:
dfs_merged.shape

(1564, 11)

In [112]:
dfs_merged.dropna(axis='rows',inplace=True)

In [113]:
dfs_merged.shape

(1562, 11)

In [114]:
dfs_merged.head(2)

,Happiness Rank,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
0,1,Switzerland,Western Europe,7.587,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2015
1,2,Iceland,Western Europe,7.561,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2015

In [115]:
dfs_merged.tail(2)

,Happiness Rank,Country,Region,Happiness Score,Economy (GDP per Capita),Family (Social Support),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Year
154,155,Central African Republic,Sub-Saharan Africa,3.083,0.026,0.000,0.105,0.225,0.035,0.235,2019
155,156,South Sudan,-,2.853,0.306,0.575,0.295,0.010,0.091,0.202,2019

In [116]:
df = dfs_merged.to_csv('world-happiness-report-2015-2019-cleaned.csv')